@font-face {
  font-family: 'Chronicle-Display--bold';
  src: url('./assets/fonts/Chronicle-display/Chronicle-Display-Black.otf');
}
@font-face {
  font-family: 'Chronicle-Display--semibold';
  src: url('./assets/fonts/Chronicle-display/Chronicle-Display-Semibold.otf');
  font-weight: 600;
}
@font-face {
  font-family: 'Chronicle-Display';
  src: url('./assets/fonts/Chronicle-display/Chronicle-Display-Roman.otf');
}

@font-face {
  font-family: 'Gilroy-extrabold';
  src: url('./assets/fonts/Gilroy/Gilroy-ExtraBold.otf');
}
@font-face {
  font-family: 'Gilroy-bolder';
  src: url('./assets/fonts/Gilroy/Gilroy-ExtraBold.otf');
}
@font-face {
  font-family: 'Gilroy-bold';
  src: url('./assets/fonts/Gilroy/Gilroy-Bold.ttf');
}
@font-face {
  font-family: 'Gilroy-regular';
  src: url('./assets/fonts/Gilroy/Gilroy-Regular.ttf');
}